[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/quill"]
	path = external/quill
	url = https://github.com/odygrd/quill.git
